@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  transition: 300ms ease-in-out all;
}

body {
  background: #f2f2f2;
  font-family: "Nunito";
}
